<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Prenotazioni</title>
</head>
<body>
    <div>
    	<h4>Prenotazioni</h4>
		<div>
			<table>
				<tr>
					<th>Name</th>
				</tr>
				<tr th:each="prenotazione : ${prenotazioni}">
					<td><a th:href="@{'/prenotazione' + '/' + ${prenotazione.id}}"><span th:text="${prenotazione.getId()}"></span></a></td>					
                </tr>
            </table>
   		</div>
    </div>
</body>
</html>
