
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="images/pic12.ico" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

	<!-- Header -->
	<header id="header">
		<a th:href="@{/index}" class="logo">Prenota un campo</a>
	</header>


	<!-- Banner -->
	<section id="banner">
		<div class="content">
			<div id="login-box" position="center">
				<div class="left">
					<h1>Iscriviti ora e prenota i tuoi campi online</h1>
					<form class="login100-form validate-form" th:action="@{/registrazioneUtente}" method="POST" th:object="${user}">
						<input type="text" name="nome" placeholder="Nome"
							th:field="*{nome}" /> <input type="text" name="cognome"
							placeholder="Cognome" th:field="*{cognome}" /> <input type="text"
							name="username" placeholder="Username" th:field="*{username}" />
						<input type="email" name="email" placeholder="E-mail"
							th:field="*{email}" /> <input type="password" name="password"
							placeholder="Password" th:field="*{password}" />
						<div>
							<a th:href="@{/benvenuto}">
								<input type="submit" name="signup_submit" value="Registrati" position="center" />
							</a>
						</div>
				</div>
				<div class="policy" style="color: white">
					<br>Cliccando su "Registrati" dichiari di aver letto e
					accettato Privacy policy e Condizioni di utilizzo</br>
				</div>
				<div class="or" style="color: white">
					<br>OPPURE accedi con i social network</br>
				</div>
				<button class="social-signin facebook">Log in with facebook</button>
				<button class="social-signin twitter">Log in with Twitter</button>
				<button class="social-signin google">Log in with Google+</button>
			</div>
			</form>
		</div>
		</div>
	</section>


	
	<div class="content">
		<h2>Accedi</h2>
		<form th:action="@{/login}" method="POST" th:object="${user}">
			<div>
				<label>Username : <input type="text" name="username" th:field="*{username}"  required/> </label>
			</div>
			<div>
				<label>Password: <input type="password" name="password"  th:field="*{password}" required/></label>
			</div>
			<div>
				<a th:href="@{/benvenuto}"><input type="submit" value="Entra" /></a>
			</div>
		</form>



<!-- 		<form th:action="@{/logout}" method="post"> -->
<!-- 			<span sec:authentication="name"></span> <input type="submit" -->
<!-- 				value="Esci" /> -->
<!-- 		</form> -->

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<h2>Contatti</h2>
				<ul class="actions">
					<li><a href="mailto:dan.santino@stud.uniroma3.it"
						itemprop="email">dan.santino@stud.uniroma3.it</a></li>
					<li><a href="mailto:fed.gaglio@stud.uniroma3.it"
						itemprop="email">fed.gaglio@stud.uniroma3.it</a></li>
					<li><span class="icon fa-map-marker"></span> Via Vito
						Volterra, 62, 00146 Roma RM</li>
				</ul>
			</div>
			<div class="copyright">
				&copy; Daniele Santino-Federico Gaglio. Design <a
					href="https://templated.co">TEMPLATED</a>. Images <a
					href="https://www.google.it/imghp?hl=it&tab=wi">Google Immagini</a>.
			</div>
		</footer>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
</body>
</html>